<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR_contract.Properties.Settings.HRConnectionString"
            connectionString="Data Source=SONG\SQLEXPRESS;Initial Catalog=HR;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="HR_contract.Properties.Settings.finalProjectWUConnectionString"
            connectionString="Data Source=16.171.161.144;Initial Catalog=finalProjectWU;Persist Security Info=True;User ID=sa;Password=Sokreach123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>